.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.container .add {
    color: rgb(255, 254, 254);
    background: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.container .add:hover {
    transform: scale(1.07);
    font-weight: 700;
}

.container img {
    width: 30px;
}
